---
import Layout from '../layouts/Layout.astro';
import Creature from '../components/Creature.astro';
import Viewer from '../components/animal/Viewer.astro';
import Superpower from '../components/animal/Superpower.astro';
import Drawings from '../components/animal/Drawings.astro';


import BugImage1 from '../images/libellule/libellule_2.jpg';
import BugImage2 from '../images/libellule/libellule_3.jpg';
import BugImage3 from '../images/libellule/libellule_1.jpg';
import Poster from '../images/libellule/libellule_poster.png';

import KidsDrawing1 from '../images/libellule/kids_drawings/Libellule_1_Sabah.jpg';
import KidsDrawing2 from '../images/libellule/kids_drawings/Libellule_2_Sohaib.jpg';
import KidsDrawing3 from '../images/libellule/kids_drawings/Libellule_3_Hajar.jpg';
import KidsDrawing4 from '../images/libellule/kids_drawings/Libellule_4_Baràa.jpg';
import KidsDrawing5 from '../images/libellule/kids_drawings/Libellule_5_Morgann.jpg';
import KidsDrawing6 from '../images/libellule/kids_drawings/Libellule_6_Catherine.jpg';

const title="La libellule"
---

<Layout title={title}>
  <main>
    
    <Creature
    title={title}
    latinName="Aeshna cyanea"
    img={BugImage1.src}
    img2={BugImage2.src}
    img3={BugImage3.src}
    quotes="Les libellules, grâce à leurs quatre ailes indépendantes, peuvent voler à reculons, faire du sur-place et changer de direction instantanément, capturant leurs proies avec une grande précision"
    >
    <p slot="bug-intro-start">Les libellules, présentes sur Terre depuis environ 200 millions d'années, appartiennent à l'ordre des Odonates, divisé en deux sous-ordres : les Zygoptères (Demoiselles) et les Anisoptères. Les Demoiselles sont plus petites avec des ailes repliées, tandis que les Anisoptères sont plus grandes et gardent leurs ailes déployées.
    <br>Il existe plus de 5000 espèces de libellules dans le monde, dont environ 2800 Anisoptères. En France métropolitaine, on compte environ 90 espèces, telles que l’Anax empereur et la Libellule écarlate. Ces insectes élégants possèdent un corps allongé et rigide, avec trois paires de pattes et deux paires d'ailes transparentes. Leur tête ronde est dotée de grands yeux à facettes, de courtes antennes et de pièces buccales broyeuses. Les libellules peuvent mesurer jusqu’à 7 cm de long avec une envergure de 11 cm.
    <br>Présentes sur tous les continents sauf les zones polaires, les libellules dépendent des points d'eau calmes pour pondre leurs œufs. Elles fréquentent des milieux humides tels que lacs, étangs, marais et rivières à faible débit.</p>
    <p>Prédateurs redoutables, les libellules consomment jusqu’à une centaine d'insectes par jour, incluant moustiques et papillons. Elles chassent en vol grâce à leur virtuosité aérienne, volant jusqu'à 90 km/h et changeant de cap brusquement. Les mâles défendent vigoureusement leur territoire de reproduction. Les femelles pondent jusqu’à 600 œufs, et les larves passent la majeure partie de leur vie dans l'eau, se nourrissant de zooplancton et de petites proies. Elles muent jusqu’à quinze fois avant de devenir des adultes, dont la longévité varie de quelques semaines à plusieurs mois.
    <br>Les libellules régulent les populations d'insectes nuisibles, comme les moustiques, faisant d'elles des alliées précieuses pour les jardiniers. Pour les attirer, il suffit de créer des points d’eau et de planter des végétaux comme les nénuphars et l’achillée millefeuille. Ces gestes aident à préserver ces magnifiques insectes, dont certaines espèces sont menacées par la destruction de leur habitat et la pollution de l'eau.</p>
    
    
    <Viewer 
    slot="viewer"
    alt={title}
    src="/libellule.glb"
    environmentImg="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg/1920px-PIA17944-MarsCuriosityRover-AfterCrossingDingoGapSanddune-20140209.jpg"
    poster={Poster.src}
    />

    <Superpower
      slot="superpower"
      power1={{
        title:"Prédateur efficace", 
        text:"Capable de consommer une grande quantité d'insectes nuisibles chaque jour."
      }}
      power2={{
        title:"Virtuosité aérienne", 
        text:"Vole rapidement et avec agilité, ce qui lui permet de capturer ses proies avec une grande efficacité."
      }}
      power3={{
        title:"Rôle écologique", 
        text:"Aide à réguler les populations d’insectes nuisibles, comme les moustiques, dans les jardins et les écosystèmes naturels"
      }}
    />

    <Drawings
      slot="drawings"
      drawings={[
        KidsDrawing1.src,
        KidsDrawing2.src,
        KidsDrawing3.src,
        KidsDrawing4.src,
        KidsDrawing5.src,
        KidsDrawing6.src
        ]}
    ></Drawings>
    
  </Creature>
  
  
  
</main>
</Layout>