---
interface Props {
    title: string;
    latinName: string;
    img: string;
    img2: string;
    img3: string;
    quotes: string;
    direction?: "left"|"right";
}

const { title, latinName, img, img2, img3, quotes, direction = 'left' } = Astro.props;
---
    
    <section class=`bug-presentation bug-presentation--${direction}`>
        <h2>{title}</h2>
        <h3 class="bug-title">{latinName}</h3>

        <div class="bug-intro">
            <div class="bug-intro-start">
                <slot name="bug-intro-start"  />
            </div>
            <img loading="lazy" src={img3} alt={title} class="bug-intro-start-img round-shadow" />
            <div class="bug-intro-img">
                <img loading="lazy" src={img} alt={title} class="round-shadow" />
                <img loading="lazy" src={img2} alt={title} class="round-shadow" />
            </div>
            <div class="bug-intro-text">
                <slot />
            </div>
        </div>
        
        

        <slot name="viewer" />
        <slot name="superpower" />
        <slot name="drawings" />
        <slot name="poster" />
               
    </section>
    
<style lang="scss">
    .bug-presentation {

        .bug-intro {
            display: flex;
            flex-wrap: wrap;
            align-items: end;
            gap: 1rem;
            margin-bottom: 3rem;
            &-start {
                width: calc(70% - 1rem);
                flex-shrink: 1;
                align-self: start;
                :global(p) {
                    margin: 0;
                }
                &-img {
                    width: 30%;
                    height: auto;
                    object-fit: cover;
                    aspect-ratio: 1;
                    margin: 0 auto;
                    align-self: start;
                }
            }
            &-text {
                width: calc(50% - .5rem);
                margin-bottom: calc(500px + 2rem);
            }
            &-img {
                position: relative;
                width: calc(50% - .5rem);
                &:before {
                    content: "";
                    position: absolute;
                    background: #34647388;
                    left: 9%;
                    top: 10%;
                    bottom: 10%;
                    right: 8%;
                }

                img {
                    position: relative;
                    box-shadow: 0 0 40px #0009;
                    z-index: 1;
                    object-fit: cover;
                    width: 80%;
                    height: 600px;
                    max-width: unset;
                    &:last-child {
                        width: 150%;
                        height: 450px;
                        margin: -100px 0 0 125px;
                    }
                }
            }
        }
        h2 {
            font-size: 3rem;
            margin: 0;
        }

        @media (max-width: 768px) {
            .bug-intro {
                &-text {
                    margin-bottom: 2rem;
                }
                &-start,
                &-start-img,
                &-img,
                &-text  {
                    width: 100%;
                }
                &-text {
                    margin-bottom: 0;
                }
                &-img {
                    order: 4;
                    &:before {
                        content: "";
                        left: 5vw;
                        top: 25px;
                        bottom: 25px;
                        width: 80vw;
                    }
                    img {
                    width: 50vw;
                    height: 62.5vw;
                    &:last-child {
                        width: 50vw;
                        height: 35vw;
                        margin: -100px 0 0 40vw;
                    }
                }
                }
            }
        }
    }
</style>
    